<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/OSConsoleApps/src/edu/uw/cs/cse461/sp12/OSConsoleApps/DDNS/AppManager.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="edu.uw.cs.cse461.sp12.OSConsoleApps.DDNS.AppManager"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-f ../OS/cse461.config.ini"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="OSConsoleApps"/>
</launchConfiguration>
